.customModuleRow {
    width: 100%;
    height: 330px;
    background: url('../img/jp.jpg') no-repeat;
}

.l-w-two {
    width: 1200px;
    margin: 0 auto;
}

.l-nav-two {
    display: flex;
    width: 100%;
    padding: 46px 0;
}

.l-nav-two a {
    color: rgb(129, 120, 120);
    font-size: 17px;
}

.l-nav-two h4 {
    color: rgb(129, 120, 120);
    margin-right: 10px;
}

.l-nav-two span {
    color: #2090FF;
    font-size: 14px;
    font-weight: 400;
}

.l-nav-two span i {
    color: rgb(129, 120, 120);
    font-size: 18px;
    font-weight: 600;
}

.l-nav-two .l-icon-two {
    width: 2px;
    height: 18px;
    margin-right: 15px;
    margin-top: 3px;
    background-color: rgb(0, 183, 217);
}
.chengdu-box {
    width: 100%;
    height: 1108px;
    margin-bottom: 135px;
    display: flex;
    justify-content: space-between;
}

.chengdu-l {
    width: 232px;
    height: 50px;
    background: rgb(60, 181, 213);
    line-height: 50px;
    text-align: center;
}
.chengdu-l a {
    color: #fff;
    font-size: 16px;
    font-weight: 600;
}
.chengdu-r {
    width: 928px;
    height: 1108px;
    background: rgb(0, 183, 217);
    padding-left: 20px;
}
.chengdu-txet {
    width: 100%;
    height: 63px;
    line-height: 73px;
    padding-bottom: 10px;
    border-bottom: 1px dashed rgb(204, 204, 204);
}
.chengdu-txet {
    font-size: 18px;
    font-weight: 400;
    color: #333333;  
}
.writing i {
    font-size: 12px;
    font-weight: 400;
    color: #333333;
}
.chengdu-r img {
    width: 554px;
    height: 571px;
    margin: auto;
}